.Home_diagram_img{
    /* border: 2px solid red; */
    width: 100%;
    height: 600px;
    background-image: url(Other_images/Home_architecture.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 100px;
    z-index: 1;
}
/* Media query for smaller screens */
@media (max-width: 768px) {
    .Home_diagram_img {
        width: 100%;
        height: 300px;
    }
  }
  
  /* Media query for even smaller screens */
  @media (max-width: 480px) {
    .Home_diagram_img {
        width: 100%;
        
    }
  }